*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6ff;
padding:30px;
}

.container{
max-width:1200px;
margin:auto;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,0.1);
}

h1{
text-align:center;
margin-bottom:25px;
color:#4f46e5;
}

.dashboard{
display:flex;
gap:20px;
margin-bottom:25px;
}

.dash-card{
flex:1;
background:#4f46e5;
color:white;
padding:20px;
border-radius:10px;
text-align:center;
}

.btn{
display:inline-block;
margin-bottom:25px;
padding:12px 20px;
background:#4f46e5;
color:white;
text-decoration:none;
border-radius:8px;
}

.departments{
display:flex;
gap:15px;
flex-wrap:wrap;
margin:20px 0;
}

.dept-card{
text-decoration:none;
background:#eef2ff;
padding:20px;
border-radius:10px;
font-weight:bold;
color:#333;
min-width:120px;
text-align:center;
}

.dept-card:hover{
background:#4f46e5;
color:white;
}

.semesters{
display:flex;
gap:10px;
flex-wrap:wrap;
margin:20px 0;
}

.sem-card{
text-decoration:none;
padding:12px 20px;
background:#e0e7ff;
border-radius:8px;
color:#333;
}

.sem-card:hover{
background:#4f46e5;
color:white;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid #ddd;
}

th{
background:#4f46e5;
color:white;
}

th,td{
padding:12px;
text-align:center;
}

tr:hover{
background:#f8f8f8;
}